
 <%= form_with model: @meal_record, class: 'new-meal-record', local: true do |f| %>
  <div class="form-input">
      <div class="input-date">
      <p>日付</p>
       <%= f.date_field :date %>
      </div>
      <div class="input-meal_as">
      <p>食事のタイミング</p>
      <%= f.select :meal_as, ['朝食', '昼食', '夕食', '間食'], {include_blank: '---'} %>
      </div>
      <div class="input-comment">
      <p>コメント</p>
      <%= f.text_area :content, placeholder: 'コメントを入れよう！' %>
      </div>
      <div class="input-meal-image">
      <p>写真</p>
      <%= f.file_field :image %>
      </div>
  </div>
  <%= f.submit '保存', class: 'meal-record-btn' %>
  <% end %>
