<%= render 'homes/sidebar' %>

<div class="measurement-record">
  <h2 class="measurement">血糖値測定</h2><%= button_to '戻る', measurements_path, method: :get, class:"measurement-nav" %>

<h3 class="page-heading">編集する</h3>

<%= form_with model:@measurement, url: measurements_path, method: :post, local: true do |f| %>
  <div class="form-input"> 
    <div class="input-measuremet-date">
      <p>日付</p>
      <%= f.date_field :date %>
    </div>
    <div class="input-timezone">
      <p>時間帯</p>
      <%= f.select :timezone, ['朝', '昼', '夜', 'その他'], {include_blank: '---'} %>
    </div>
    <div class="input-value">
      <p>測定値</p>
      <%= f.text_field :value, id: "value"%>mg/dl
    </div>
  </div>
  <%= f.submit '保存' , class: "measurement-btn" %>
<% end %>

</div>