<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
 
<div class= "heading">
  <%= link_to root_path do %>
    <h1>まいにちごはん</h1>
    <%= image_tag 'rice.png', size: '80x80' ,class:"heading-image" %>
  <% end %>
</div>
  <% if user_signed_in? %>
    <ul class='lists-right'>
       <li><%= "#{current_user.nickname}でログイン中" %></li>
       <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class:"nav-btn" %></li>
     </ul>
  <% else %>
    <ul class='lists-right'>
     <li >ログインしていません</li>
      <li><%= button_to 'ログイン', new_user_session_path, class:"nav-btn" %></li>
     <li><%= button_to '新規登録', new_user_registration_path, method: :get, class:"nav-btn" %></li>
  <% end %>
  </ul>

  <body>

    <%= yield %>
  </body>
</html>
